h3{
     margin-top: 40px;
     color:brown
    }
    img{
         margin-top: 30px;
        }
        h4{
             color:black;
            }
            h1{
                text-align: center;
                color:brown
            }
            h2{
                color: blue;
            }