<h1><b>Terms&Conditions</b></h1><br>

 <h2>PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING THE SITE. YOUR USE OF
  THE SITES CONFIRMS YOUR UNCONDITIONAL ACCEPTANCE OF THE FOLLOWING TERMS AND CONDITIONS. IF YOU DO NOT ACCEPT THESE
 TERMS AND CONDITIONS, DO NOT USE THE SITES.</h2> <br><br>
<h3><b>Scope of Application</b></h3><br>
<h4>These Terms and Conditions shall govern any accommodation agreements or any other related contracts entered into between the hotel and the guest(including daytime guests using rooms for teleworking, etc.; the same shall apply hereinafter), and any matters not stipulated in the Terms and Conditions shall be governed by law and generally established customs.
    Any usage guidelines and precautions(hereinafter collectively referred to as “Rules”)presented by the hotel in connection with these Terms and Conditions shall, in addition to the Hotel Rules and Regulations established by the hotel and kept in guestrooms, constitute a part of these Terms and Conditions.
    Notwithstanding the preceding paragraph, any special agreements provided by the hotel within the scope permitted by law and customs shall take precedence.
    </h4><br>
<h3><b>Establishment of the Accommodation Agreement</b></h3>
<h4>The accommodation agreement shall be established when the hotel accepts the application set forth in the preceding paragraph. However, this does not apply when the hotel proves it has not accepted the application.
    When an accommodation agreement has been established as per the provisions of the preceding paragraph, the guest must pay a deposit set by the hotel by the deadline designated by the hotel.
    The deposit shall first be allocated to room charges ultimately payable by the guest, then allocated to fines followed by compensation for damages in the event that the provisions of Articles 6 and 21 apply; any remaining deposit shall be returned at the time of payment in accordance with Article 13.
    The accommodation agreement shall cease to be effective when the guest fails to pay the deposit set forth in Paragraph 2 by the deadline designated by the hotel. However, this is limited to cases in which the hotel notifies guests of a deposit deadline.</h4><br>
    <h3><b>Refusal of Accommodation Agreements</b></h3>
    <h4>This hotel may refuse to enter into an accommodation agreement in the following cases:

        When the accommodation application violates the stipulations of these Terms and Conditions
        When guestrooms are fully booked
        When a potential guest is deemed likely to break the law, disrupt public order, or act contrary to public morals during their stay.
        When a potential guest is deemed to fall under any of the following categories（a）to（c）:
        a. An organized crime group under the Act on Prevention of Unjust Acts by Organized Crime Group Members（Act No. 77 of 1991）as stipulated in Article 2（2）（hereinafter “organized crime group”）, a member of an organized crime group as stipulated in Article 2（6）（hereinafter “organized crime group member”）, an associate member or affiliate of an organized crime group or any other antisocial force
        b. When the applicant is involved in corporations or other organizations whose operations are controlled by an organized crime group.
        c. When any of the directors of the applicant’s corporation is classified as a member of an organized crime group
        When the potential guest’s behavior poses a significant nuisance to other guests.
        When the potential guest clearly has a contagious disease.
        When the potential guest uses violence, threats, blackmail, or intimidation to make unjust or unreasonable demands against the hotel or its employees, or is deemed to have engaged in any similar acts in the past.
        When the hotel is unable to accommodate guests due to natural disaster, facility malfunction, or other inevitable circumstances.
        When the potential guest is intoxicated, exhibits or has exhibited extremely abnormal behavior that may pose a nuisance to other guests, or in cases that fall under the provisions of prefectural ordinances.
        When the potential guest is extremely unsanitary or is wearing extremely dirty clothes that may cause a nuisance to other guests.
        When the potential guest conceals the fact that they have reserved a guestroom within the hotel for the purpose of making a profit, either for themselves or for a third party, by selling goods, etc.
        When the potential guest does not comply with these Terms and Conditions or with cancellation and payment policies when making a reservation.</h4>