<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-4">
  <div class="container">
    <a class="navbar-brand text-white"><span class="title">HOTEL Paradise</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-black"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="mx-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Home</a>
        </li>
        &nbsp; &nbsp;<li class="nav-item">
          <a class="nav-link text-white" href="staff/all">Back</a>
        </li>

        &nbsp; &nbsp;
        <li class="nav-item">
          <a class="nav-link text-white" href="authentication/login">LogOut</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <h3>Add Staff</h3>
  <div class="card">
    <div class="card-body">


      <form [formGroup]=" addStaff" #myForm="ngForm">
        <br><br>

        <div class="form-group">
          <label>EmployeeName </label>
          <input [class.is-invalid]=" addStaff.get('employeeName')?.touched &&addStaff.get('employeeName')?.invalid"
            type="text" class="form-control" formControlName="employeeName" name="employeeName"
            placeholder="Enter Employee Name" required="required">
          <div *ngIf=" addStaff.get('employeeName')?.touched && addStaff.get('employeeName')?.invalid">
            <small *ngIf=" addStaff.get('employeeName')?.errors!['required']" class="text-danger">Employee Name is
              required</small>
            <small *ngIf="addStaff.get('employeeName')?.errors!['minlength']" class="text-danger">Employeename must be
              at least 3
              characters</small>
            <small *ngIf="addStaff.get('employeeName')?.errors!['maxlength']" class="text-danger">Employeename should
              not be
              more than 16
              characters</small>
            <small *ngIf="addStaff.get('employeeName')?.errors!['pattern']" class="text-danger">Employeename should be
              start with Alphabet
            </small>

          </div><br>

          <div class="form-group">
            <label> PhoneNo </label>
            <input [class.is-invalid]=" addStaff.get('phoneNo')?.touched &&addStaff.get('phoneNo')?.invalid" type="text"
              class="form-control" formControlName="phoneNo" name="phoneNo" pattern="^\d{10}$"
              placeholder="Enter PhoneNo" required="required">
            <div *ngIf=" addStaff.get('phoneNo')?.touched && addStaff.get('phoneNo')?.invalid">
              <small *ngIf=" addStaff.get('phoneNo')?.errors!['required']" class="text-danger">PhoneNo is
                required</small>
              <small *ngIf="addStaff.get('phoneNo')?.errors!['pattern']" class="text-danger">phone
                number must be 10 digits</small>

            </div><br>

            <div class="form-group">
              <label> Email </label>
              <input [class.is-invalid]=" addStaff.get('email')?.touched &&addStaff.get('email')?.invalid" type="email"
                class="form-control" formControlName="email" name="email" placeholder="Enter Email" required="required">
              <div *ngIf=" addStaff.get('email')?.touched && addStaff.get('email')?.invalid">
                <small *ngIf=" addStaff.get('email')?.errors!['required']" class="text-danger">Email is
                  required</small>
                <small *ngIf="addStaff.get('email')?.errors!['pattern']" class="text-danger">Please Enter the
                  valid email</small>
              </div><br>



              <div class="form-group">
                <label> Age </label>
                <input [class.is-invalid]=" addStaff.get('age')?.touched &&addStaff.get('age')?.invalid" type="text"
                  class="form-control" formControlName="age" name="age" placeholder="Enter Age" required="required">
                <div *ngIf=" addStaff.get('age')?.touched && addStaff.get('age')?.invalid">
                  <small *ngIf=" addStaff.get('age')?.errors!['required']" class="text-danger">Age is
                    required</small>
                </div><br>


                <div class="form-group">
                  <label> EmployeeAddress </label>
                  <input
                    [class.is-invalid]=" addStaff.get('employeeAddress')?.touched &&addStaff.get('employeeAddress')?.invalid"
                    type="text" class="form-control" formControlName="employeeAddress" name="employeeAddress"
                    placeholder="Enter Employee Address" required="required">
                  <div *ngIf=" addStaff.get('employeeAddress')?.touched && addStaff.get('employeeAddress')?.invalid">
                    <small *ngIf=" addStaff.get('employeeAddress')?.errors!['required']" class="text-danger">Employee
                      Address is
                      required</small>
                  </div><br>





                  <div class="form-group">
                    <label> salary </label>
                    <input [class.is-invalid]=" addStaff.get('salary')?.touched &&addStaff.get('salary')?.invalid"
                      type="text" class="form-control" formControlName="salary" name="salary" placeholder="Enter Salary"
                      required="required">
                    <div *ngIf=" addStaff.get('salary')?.touched && addStaff.get('salary')?.invalid">
                      <small *ngIf=" addStaff.get('salary')?.errors!['required']" class="text-danger">Salary is
                        required</small>
                    </div><br>



                    <button class="btn btn-primary" (click)="SaveData()" type="submit"
                      [disabled]="!myForm.form.valid">Submit</button>